  
  .ProseMirror {
    min-height: 60em;
    min-width: 60em;
    margin-top: 10%;
    width:100%;
    border: 2px solid #22C3B3;
    border-radius: 10px;
    outline: none;
    padding: 1em;
  }
  
  .items {
    width:150%;
    position: relative;
    border-radius: 0.25rem;
    background: #71DFD3;
    color: rgba(black, 0.8);
    overflow: hidden;
    font-size: 0.9rem;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .item {
    display: block;
    text-align: center;
    width:100%;
    background: transparent;
    border: none;
    padding: 5%;
    border-bottom: #16746b 1px solid;
  }
  
  .item.is-selected,
  .item:hover {
    color: white;
    background: #22C3B3;
  }
  